.navbar-lewagon {
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.8);
  // margin-bottom: 50px !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

#logo-white {
  font-size: 22px;
  color: white;
  margin-bottom: 0;
  opacity: 1;
}

#logo-green {
  font-size: 22px;
  color: $turquoise;
  margin-bottom: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.transparent {
  background-color: transparent !important;
}

.homepage {
  padding-top: 180px;
}

.navbar a {
  font-size: 14px;
}
